In [60]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head(20)

   whoAmI
0   robot
1   human
2   robot
3   robot
4   human
5   human
6   robot
7   human
8   robot
9   robot
10  robot
11  robot
12  human
13  human
14  human
15  human
16  robot
17  robot
18  human
19  human

In [61]:
def OneHotEncoder(data):
    lst = data.whoAmI.unique().tolist()
    lst = sorted(lst)
    df = pd.DataFrame(columns=lst)
    for index, i in data.iterrows():
        for column in range(0, len(lst)):
            df.loc[index,lst[column]] = 0
            if (i['whoAmI'] == lst[column]):
                df.loc[index,lst[column]] = 1
    for column in range(0, len(lst)):
        df[lst[column]] = df[lst[column]].astype(int)
    return df
myOneHot = OneHotEncoder(data)
myOneHot

    human  robot
0       0      1
1       1      0
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       1      0
8       0      1
9       0      1
10      0      1
11      0      1
12      1      0
13      1      0
14      1      0
15      1      0
16      0      1
17      0      1
18      1      0
19      1      0

### Сравним с выводом pd.get_dummies()

In [62]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       1      0
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       1      0
8       0      1
9       0      1
10      0      1
11      0      1
12      1      0
13      1      0
14      1      0
15      1      0
16      0      1
17      0      1
18      1      0
19      1      0